* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: url("/assets/bg-1.jpg");
  background-size: cover;
}

.game {
  position: relative;
  height: auto;
  width: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 1rem;
  perspective: 80%;
}

.card {
  height: 267px;
  width: 189px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front {
  background-image: url("assets/images.jpg");
  background-size: cover;
}

.card.return {
  transform: rotateY(180deg);
}

/* .return.green,
.card.green.win .back {
  background-image: url("/assets/zoro.png");
  background-size: cover;
} */

.return.zoro {
  background-image: url("/assets/zoro.png");
  background-size: contain;
  transform: rotateY(180deg);
}

.card.zoro.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.nami {
  background-image: url("/assets/nami.png");
  background-size: cover;
  transform: rotateY(180deg);
}

.card.nami.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.franky {
  background-image: url("/assets/franky.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.franky.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.luffy {
  background-image: url("/assets/luffy.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.luffy.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.brook {
  background-image: url("/assets/brook.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.brook.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.robin {
  background-image: url("/assets/robin.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.robin.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.sanji {
  background-image: url("/assets/sanji.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.sanji.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.chopper {
  background-image: url("/assets/chopper.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.chopper.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

.return.jinbe {
  background-image: url("/assets/jinbe.png");
  background-size: cover;
  transform: rotateY(180deg);
}
.card.jinbe.win {
  transition: all 1s ease-in-out;
  visibility: hidden;
}

/* Media query */

@media (max-width: 1920px) {
  .card {
    height: 232px;
    width: 164px;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
  }
}
